@media screen and (max-width: 1199px) {
    .header {

        &__navigation {
            flex-basis: 550px;
        }
    }

    .calculation {
        margin-bottom: 84px;

        &__img {
            max-width: 500px;
            top: 41px;
        }
    }
}
