@media screen and (max-width: 1024px) {

    .container {
        margin: 0 auto ;
        max-width: 1180px;
        padding: 0 20px;
    }

    .header {
        margin-top: 18px;

        &__logo-img {
            height: 35.42px;
            width: 126px;
        }

        &__navigation {
            display: none;
            position: fixed;
            flex-direction: column;
            width: 100vw;
            top: 72px;
            left: 0;
            margin: 0 auto;
            background-color: $second-bg-color;
        }

        .show {
            display:flex;
        }

        &__list {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 46px;
            margin-bottom: 45px;
            gap: 29px;
        }

        &__link {
            font-size: 24px;
        }

        &__btn {
            font-size: 16px;
            padding: 22px 0;
            width: 295px;
            margin-bottom: 60px;
        }

        .hamburger {
            display: flex;
            align-items: center;
        }
    }

    .first-screen {

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__background {
            background-clip: linear-gradient(0deg, rgba(4, 9, 17, 0.6), rgba(4, 9, 17, 0.6));
        }

        &__title {
            display: flex;
            font-size: 32px;
            line-height: 126%;
            max-width: 255px;
            align-items: center;
            text-align: center;
        }

        &__subtitle {
            font-weight: 300;
            font-size: 16px;
            max-width: 255px;
            line-height: 135.5%;
            text-align: center;
        }


    }
}




