@media screen and (max-width: 1024px) {

    h2 {
        font-size: 24px;
    }


    .container {
        margin: 0 auto ;
        max-width: 1180px;
        padding: 0 20px;
    }

    .header {
        margin-top: 18px;
        margin-bottom: 15px;

        &__logo-img {
            height: 35.42px;
            width: 126px;
        }

        &__navigation {
            z-index: 100;
            height: 100vh;
            display: none;
            position: fixed;
            flex-direction: column;
            width: 100vw;
            top: 72px;
            left: 0;
            margin: 0 auto;
            background-color: $second-bg-color;
        }

        .show {
            display:flex;
        }

        &__list {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 46px;
            margin-bottom: 45px;
            gap: 29px;
        }

        &__link {
            font-size: 24px;
        }

        &__btn {
            font-size: 16px;
            padding: 22px 0;
            width: 295px;
            margin-bottom: 60px;
        }

        .hamburger {
            display: flex;
            align-items: center;
        }
    }

    .first-screen {
        margin-bottom: 55px;

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        &__background {
            background-clip: linear-gradient(0deg, rgba(4, 9, 17, 0.6), rgba(4, 9, 17, 0.6));
            padding: 0 0;
            height: calc(100vh - 71.4px);
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #00000099;
            }
        }

        &__title {
            display: flex;
            font-size: 32px;
            line-height: 126%;
            max-width: 255px;
            align-items: center;
            text-align: center;
        }

        &__subtitle {
            font-weight: 300;
            font-size: 16px;
            max-width: 255px;
            line-height: 135.5%;
            text-align: center;
        }


    }

    .calculation {
        margin-bottom: 60px;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            display: none;
        }

        &__title {
            margin-bottom: 79px;
            font-size: 24px;
            max-width: 335px;
            text-align: center;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -25px;
                left: calc(50% - 45.5px);
                display: flex;
            }
        }

        &__form {
            max-width: 335px;
            padding: 50px 30px 34px;
        }

        &__row {
            flex-direction: column;
        }
    }

    .advantages {
        margin-bottom: 54px;

        &__background {
            height: 479px;
            border-radius: 0px;
        }

        &__row {
            display: none;
        }

        &__inner {
            padding-top: 55px;
        }

        &__title {
            margin-bottom: 64px;
            font-size: 24px;
        }

        .advantages-swiper {
            display: flex;
        }
    }

    .services {
        margin-bottom: 54px;

        &__background { 
            padding-top: 50px;
            height: 726px;
            border-radius: 0;
        }

        &__title {
            margin-bottom: 60px;
        }
    }

    .about {
        margin-bottom: 34px;

        &__inner {
            align-items: center;
            flex-direction: column;
        }

        &__title {
            margin-top: 0;
            text-align: center;
            margin-bottom: 49px;

            &::after {
                content: "";
                left: calc(50% - 42.5px);
            }
        }

        &__text {
            font-weight: 300;
            font-size: 16px;
            line-height: 149.5%;
            text-align: justify;
        }

        &__img {
            max-width: 300px;
        }
    }

    .question {
        margin-bottom: 60px;
        padding: 38px 0;

        &__title {
            margin-bottom: 46px;
        }

        &__inner {
            gap: 28px;
            flex-direction: column;
        }

        &__acordeon {
            flex-basis: auto;
        }

        &__form { 
            max-height: none;
            max-width: 335px;
            padding: 38px 20px;
            margin: 0 auto;
        }

    }


    .footer {

        .container {
            justify-content: center;
            text-align: center;
        }

        &__social {
            justify-content: center;
        }

        &__section {
            display: none;
        }

        
    }

}


