.first-screen {
    margin-bottom: 97px;
    
    .container {
        max-width: 1140px;
    }

    &__background {
        box-sizing: border-box;
        background-repeat: no-repeat;
        max-width: 1820px;
        height: 700px;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        padding: 0 100px;
    }


    &__content {
        padding-top: 163px;
    }

    &__title {
        max-width: 463px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    
    &__subtitle {
        max-width: 345px;
        font-weight: 300;
        font-size: 20px;
        line-height: 135.5%;
        margin-bottom: 37px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 22px 25px;
    }
}

.swiper-button-next:after { 
    color: #fff;
    position: absolute;
    left: -4vw;
}


.swiper-button-prev:after {
    color: #fff;
    position: absolute;
    left: 4vw;
}

.swiper-pagination-bullet {
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
    background: var(--swiper-pagination-bullet-inactive-color, transparent);
    background-image: url(../assets/img/pugin.svg);
}

.swiper-pagination-bullet-active  {
    background: var(--swiper-pagination-bullet-inactive-color, #fff);
}