.question {
    margin-bottom: 100px;

    &__title {
        text-align: center;
        margin-bottom: 70px;
        position: relative;

        &::after {
            content: "";
            bottom: -19px;
            left: calc(50% - 42.5px);
            position: absolute;
            width: 85px;
            height: 2px;
            background-color: $orange;
        }
    }

    &__inner {
        display: flex;
        gap: 34px;
    }

    &__acordeon {
        flex-basis: 716px;
        transition: .4s;

        &-title {
            padding: 21px 55px 21px 34px;
            font-weight: 700;
            font-size: 18px;
            line-height: 124.5%;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 18px;
                right: 19px;
                background-image: url(assets/img/acordeon-arrow.svg);
                width: 27px;
                height: 27px;
                transition: .4s;
            }

            &--activ {

                &::after {
                    transform: rotate(-90deg);
                    filter: invert(64%) sepia(94%) saturate(500%) hue-rotate(350deg) brightness(98%) contrast(105%);
                }
            }
        }

        &-item {
            height: auto;
            border: 1px solid #3A444E;
            border-radius: 20px;
            margin-bottom: 16px;
            cursor: pointer;
            transition: .4s;

            &--activ {
                background-color: #FFFFFF;
                color: #282B38;
            }
        }

        &-text {
            padding: 0 99px 21px 34px;
            display: none;
            font-weight: 300;
            font-size: 17px;
            line-height: 144.5%;
            transition: .4s;

            &--activ {
                display: block;
            }
        }

    }

    &__form {
        max-height: 553px;
        height: 100%;
        flex-basis: 390px;
        padding: 38px 40px;
        background-color: $second-bg-color;
        border-radius: 20px;
        box-shadow: 5px 15px 40px rgba(11, 24, 97, 0.32);

        &-title {
            margin-bottom: 8px;
            font-weight: 700;
            font-size: 24px;
            line-height: 126%;
        }

        &-text {
            font-weight: 300;
            font-size: 17px;
            line-height: 126%;
            margin-bottom: 23px;
        }
    }

    &__input {
        width: 100%;
        height: 56px;
        border: none;
        border-radius: 10px;
        margin-bottom: 14px;
        padding: 0 20px;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 126%;


        &:focus {
            outline: none;
            border: 2px solid $orange; 
            box-shadow: 0 0 5px $orange; 
        }

        &::placeholder {
            color: #CBCBCB;
        }
    } 

    &__btn {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 22px 33px;
    }
}



