<section class="advantages">
    <div class="advantages__background">
        <div class="container">
            <div class="advantages__inner">
                <h2 class="advantages__title">Почему стоит выбрать именно нас?</h2>
                <div class="advantages__row">
                    <div class="advantages__item">
                        <img class="advantages__img" src="../assets/img/advantag_1.svg" alt="">
                        <p class="advantages__text">Таможенное оформление груза</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img" src="../assets/img/advantag_2.svg" alt="">
                        <p class="advantages__text">Страховка груза</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img" src="../assets/img/advantag_3.svg" alt="">
                        <p class="advantages__text">Проверка товара на брак</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img" src="../assets/img/advantag_4.svg" alt="">
                        <p class="advantages__text">Доставка в любой город Украины</p>
                    </div>
                </div>
                <div class="advantages__row">
                    <div class="advantages__item">
                        <img class="advantages__img" src="../assets/img/advantag_5.svg" alt="">
                        <p class="advantages__text">Консолидация на складе</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img" src="../assets/img/advantag_6.svg" alt="">
                        <p class="advantages__text">Ответственное хранение груза</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img" src="../assets/img/advantag_7.svg" alt="">
                        <p class="advantages__text">Помощь в оплате товара</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img" src="../assets/img/advantag_8.svg" alt="">
                        <p class="advantages__text advantages__text--long">Упаковка, переупаковка, паллетирование груза к международной перевозке</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper advantages-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantages__item advantages__item--mob">
                        <img class="advantages__img" src="../assets/img/advantag_1.svg" alt="">
                        <p class="advantages__text">Таможенное оформление груза</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantages__item advantages__item--mob">
                        <img class="advantages__img" src="../assets/img/advantag_2.svg" alt="">
                        <p class="advantages__text">Страховка груза</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantages__item advantages__item--mob">
                        <img class="advantages__img" src="../assets/img/advantag_3.svg" alt="">
                        <p class="advantages__text">Проверка товара на брак</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantages__item advantages__item--mob">
                        <img class="advantages__img" src="../assets/img/advantag_4.svg" alt="">
                        <p class="advantages__text">Доставка в любой город Украины</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantages__item advantages__item--mob">
                        <img class="advantages__img" src="../assets/img/advantag_5.svg" alt="">
                        <p class="advantages__text">Консолидация на складе</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantages__item advantages__item--mob">
                        <img class="advantages__img" src="../assets/img/advantag_6.svg" alt="">
                        <p class="advantages__text">Ответственное хранение груза</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantages__item advantages__item--mob">
                        <img class="advantages__img" src="../assets/img/advantag_7.svg" alt="">
                        <p class="advantages__text">Помощь в оплате товара</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantages__item advantages__item--mob">
                        <img class="advantages__img" src="../assets/img/advantag_8.svg" alt="">
                        <p class="advantages__text advantages__text--long">Упаковка, переупаковка, паллетирование груза к международной перевозке</p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>