<section class="calculation">
    <div class="container">
        <h2 class="calculation__title">Получить рассчет стоимости доставки вашего груза</h2>
        <form class="calculation__form">
            <div class="calculation__row">
                <div class="calculation__column">
                    <div class="calculation__box">
                        <label class="calculation__lable" for="category">Категория товара:</label>
                        <input class="calculation__input" id="category" type="text" placeholder="Категория товара">
                    </div>
                </div>
                <div class="calculation__column">
                    <div class="calculation__box">
                        <label class="calculation__lable" for="cost">Стоимость груза:</label>
                        <input class="calculation__input" id="cost" type="number" placeholder="Введите стоимость">
                    </div>
                </div>
            </div>
            <div class="calculation__row">
                <div class="calculation__column">
                    <div class="calculation__box">
                        <label class="calculation__lable" for="weight">Вес груза (кг):</label>
                        <input class="calculation__input" id="weight" type="number" placeholder="Введите вес">
                    </div>
                </div>
                <div class="calculation__column">
                    <div class="calculation__box">
                        <label class="calculation__lable" for="volume">Объем груза (м3):</label>
                        <input class="calculation__input" id="volume" type="number" placeholder="Введите объем">
                    </div>
                </div>
            </div>
            <div class="calculation__row">
                <div class="calculation__column calculation__column--bottom">
                    <div class="calculation__box calculation__box--row">
                        <input class="calculation__checkbox" id="insurance" type="checkbox">
                        <span class="calculation__checkbox-style"></span>
                        <label class="calculation__lable calculation__lable--mr" for="insurance">Страховка</label>
                    </div>
                    <div class="calculation__box calculation__box--row">
                        <input class="calculation__checkbox" id="customs-clearance" type="checkbox" checked>
                        <span class="calculation__checkbox-style"></span>
                        <label class="calculation__lable calculation__lable--mr" for="customs-clearance">Таможенное оформление</label>
                    </div>
                </div>
                <div class="calculation__column">
                    <div class="calculation__box">
                        <label class="calculation__lable" for="123">Код ТН ВЭД:</label>
                        <input class="calculation__input" type="text" placeholder="Введите код">
                    </div>
                </div>
            </div>
            <div class="calculation__row">
                <div class="calculation__column">
                    <div class="calculation__box">
                        <div class="calculation__file-name" id="calculation__file-name">фотография.jpeg</div>
                        <input class="calculation__file" id="calculation__file" type="file">
                        <label class="calculation__file-text" for="calculation__file">Загрузить фото товара</label>
                    </div>
                </div>
            </div>
            <div class="calculation__row">
                <div class="calculation__column">
                    <div class="calculation__box">
                        <button class="btn calculation__btn"><samp>Следующий шаг</samp> <img src="assets/img/arrow.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </form>
        <img class="calculation__img" src="assets/img/man.png" alt="">
    </div>
</section>