<section class="delivery" id="delivery">
    <div class="delivery__inner">
        <h2 class="delivery__title">Варианты доставки грузов из Китая</h2>
        <div class="swiper delivery-swiper">
            <div class="swiper-wrapper delivery-swiper-wrapper">
                <div class="swiper-slide">
                    <div class="delivery__slide">
                        <img class="delivery__img" src="assets/img/delivery_1.jpg" alt="">
                        <p class="delivery__name">Авто - обычная</p>
                        <div class="delivery__properties">
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_1.svg" alt="">
                                <p class="delivery__item-text">9-15 дней</p>
                            </div>
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_2.svg" alt="">
                                <p class="delivery__item-text">от 5 кг</p>
                            </div>
                        </div>
                        <div class="delivery__price">
                            <span class="delivery__price-text">от</span>
                            <span class="delivery__price-num">2,5</span>
                            <span class="delivery__price-sym">$/кг</span>
                        </div>
                        <div class="delivery__btns">
                            <button class="btn delivery__btn">Оставить заявку</button>
                            <button class="btn-pas delivery__btn">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="delivery__slide">
                        <img class="delivery__img" src="assets/img/delivery_2.jpg" alt="">
                        <p class="delivery__name">Авто - ускоренная</p>
                        <div class="delivery__properties">
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_1.svg" alt="">
                                <p class="delivery__item-text">9-15 дней</p>
                            </div>
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_2.svg" alt="">
                                <p class="delivery__item-text">от 5 кг</p>
                            </div>
                        </div>
                        <div class="delivery__price">
                            <span class="delivery__price-text">от</span>
                            <span class="delivery__price-num">2,5</span>
                            <span class="delivery__price-sym">$/кг</span>
                        </div>
                        <div class="delivery__btns">
                            <button class="btn delivery__btn">Оставить заявку</button>
                            <button class="btn-pas delivery__btn">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="delivery__slide">
                        <img class="delivery__img" src="assets/img/delivery_3.jpg" alt="">
                        <p class="delivery__name">Авиа</p>
                        <div class="delivery__properties">
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_1.svg" alt="">
                                <p class="delivery__item-text">9-15 дней</p>
                            </div>
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_2.svg" alt="">
                                <p class="delivery__item-text">от 5 кг</p>
                            </div>
                        </div>
                        <div class="delivery__price">
                            <span class="delivery__price-text">от</span>
                            <span class="delivery__price-num">2,5</span>
                            <span class="delivery__price-sym">$/кг</span>
                        </div>
                        <div class="delivery__btns">
                            <button class="btn delivery__btn">Оставить заявку</button>
                            <button class="btn-pas delivery__btn">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="delivery__slide">
                        <img class="delivery__img" src="assets/img/delivery_4.jpg" alt="">
                        <p class="delivery__name">Море</p>
                        <div class="delivery__properties">
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_1.svg" alt="">
                                <p class="delivery__item-text">9-15 дней</p>
                            </div>
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_2.svg" alt="">
                                <p class="delivery__item-text">от 5 кг</p>
                            </div>
                        </div>
                        <div class="delivery__price">
                            <span class="delivery__price-text">от</span>
                            <span class="delivery__price-num">2,5</span>
                            <span class="delivery__price-sym">$/кг</span>
                        </div>
                        <div class="delivery__btns">
                            <button class="btn delivery__btn">Оставить заявку</button>
                            <button class="btn-pas delivery__btn">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="delivery__slide">
                        <img class="delivery__img" src="assets/img/delivery_5.jpg" alt="">
                        <p class="delivery__name">Ж/д</p>
                        <div class="delivery__properties">
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_1.svg" alt="">
                                <p class="delivery__item-text">9-15 дней</p>
                            </div>
                            <div class="delivery__properties-item">
                                <img class="delivery__item-img" src="assets/img/delivery_icon_2.svg" alt="">
                                <p class="delivery__item-text">от 5 кг</p>
                            </div>
                        </div>
                        <div class="delivery__price">
                            <span class="delivery__price-text">от</span>
                            <span class="delivery__price-num">2,5</span>
                            <span class="delivery__price-sym">$/кг</span>
                        </div>
                        <div class="delivery__btns">
                            <button class="btn delivery__btn">Оставить заявку</button>
                            <button class="btn-pas delivery__btn">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination delivery-pagination"></div>
        </div>
        <div class="delivery-swiper-button-next"></div>
        <div class="delivery-swiper-button-prev"></div>   
    </div>
</section>