<section class="first-screen">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="first-screen__background" style="background-image: url(assets/img/firstscreen-img.jpg);">
            <div class="container first-screen__container">
                <div class="first-screen__content">
                    <h1 class="first-screen__title">Прямое КАРГО из Китая</h1>
                    <p class="first-screen__subtitle">Доставляем любые грузы из Китая по честной цене</p>
                    <button class="btn first-screen__btn"><samp>Рассчитать стоимость</samp> <img src="assets/img/arrow.svg" alt=""></button>
                </div>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="first-screen__background" style="background-image: url(assets/img/firstscreen-img-2.jpg);">
            <div class="container first-screen__container">
                <div class="first-screen__content">
                    <h1 class="first-screen__title">Выкуп товара с ТаоБао, 1688</h1>
                    <p class="first-screen__subtitle">Выкуп и доставка товаров с китайских торговых площадок. </p>
                    <button class="btn first-screen__btn"><samp>Рассчитать стоимость</samp> <img src="assets/img/arrow.svg" alt=""></button>
                </div>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="first-screen__background" style="background-image: url(assets/img/firstscreen-img-3.jpg);">
            <div class="container first-screen__container">
                <div class="first-screen__content">
                    <h1 class="first-screen__title">Экспресс авто доставка</h1>
                    <p class="first-screen__subtitle"><br><br></p>
                    <button class="btn first-screen__btn"><samp>Рассчитать стоимость</samp> <img src="assets/img/arrow.svg" alt=""></button>
                </div>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="first-screen__background" style="background-image: url(assets/img/firstscreen-img.jpg);">
            <div class="container first-screen__container">
                <div class="first-screen__content">
                    <h1 class="first-screen__title">Прямое КАРГО из Китая</h1>
                    <p class="first-screen__subtitle">Доставляем любые грузы из Китая по честной цене</p>
                    <button class="btn first-screen__btn"><samp>Рассчитать стоимость</samp> <img src="assets/img/arrow.svg" alt=""></button>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>