<footer class="footer" id="footer">
    <div class="container">
      <div class="footer__contact">
        <img src="assets/img/logo.svg" alt="" class="logo-img">
        <p class="footer__phone">8(800)500-18-69<br>
            <a class="footer__email" href="mailto:info@cargomasia.info">info@cargomasia.info</a>
        </p>
        <p class="footer__address">Адрес в Китае:<br>
          浙江省 义乌市北苑白洋宅何宅村振兴小区5栋—单元1楼东789房 高建军 电话 15966660379
        </p>
        <div class="footer__social">
          <a href="#" class="footer__social-link"><img class="footer__social-img" src="assets/img/footer-nav-1.png" alt="Instagram"></a>
          <a href="#" class="footer__social-link"><img class="footer__social-img" src="assets/img/footer-nav-2.png" alt="VK"></a>
          <a href="#" class="footer__social-link"><img class="footer__social-img" src="assets/img/footer-nav-3.png" alt="Telegram"></a>
        </div>
      </div>
      <div class="footer__section">
        <h4 class="footer__heading">Грузоперевозки</h4>
        <ul class="footer__list">
          <li class="footer__list-item"><a href="#" class="footer__list-link">Цены и сроки</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Услуги</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">О компании</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Контакты</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Оформить груз</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <h4 class="footer__heading">Услуги</h4>
        <ul class="footer__list">
          <li class="footer__list-item"><a href="#" class="footer__list-link">Выкуп товара</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Страховка груза</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Аренда склада</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Перевод денежных средств</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <h4 class="footer__heading">Информация</h4>
        <ul class="footer__list">
          <li class="footer__list-item"><a href="#" class="footer__list-link">Отзывы</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Требования к грузу</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Договор-оферта</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Как заключить договор</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Способы оплаты услуг</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Документы</a></li>
          <li class="footer__list-item"><a href="#" class="footer__list-link">Статьи</a></li>
        </ul>
      </div>
    </div>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>
