<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="logo">
                <a href="#" class="logo-link">
                    <img src="assets/img/logo.svg" alt="" class="logo-img">
                </a>
            </div>
            <nav class="header__navigation">
                <ul class="header__list">
                    <li class="header__item"><a href="#" class="header__link">Цены и сроки</a></li>
                    <li class="header__item"><a href="#" class="header__link">Услуги</a></li>
                    <li class="header__item"><a href="#" class="header__link">О компании</a></li>
                    <li class="header__item"><a href="#" class="header__link">Контакты</a></li>
                    <li class="header__item"><a href="#" class="header__link">Оформить груз</a></li>
                </ul>
            </nav>
            <button class="btn header__btn">Оставить заявку</button>
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
        </div>
    </div>
</header>

