<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content= $orange>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

    <title>MasterTao – Товары с Китая по низким ценам | Доставка по СНГ</title>
    <meta name="description" content="Купите товары из Китая по лучшим ценам! MasterTao предлагает широкий ассортимент продукции: электроника, одежда, гаджеты, аксессуары. Быстрая доставка!">
    <meta name="keywords" content="товары из Китая, китайские товары, заказать из Китая, AliExpress, доставка из Китая, электроника, гаджеты, аксессуары">
    <meta name="author" content="MasterTao">
    <meta name="robots" content="index, follow">

    <link rel="icon" type="image/png" href="./assets/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./assets/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="./assets/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="./assets/img/favicon/site.webmanifest" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
