<section class="question">
    <div class="container">
        <h2 class="question__title">Часто задаваемые вопросы</h2>
        <div class="question__inner">
            <div class="question__acordeon">
                <div class="question__acordeon-item">
                    <p class="question__acordeon-title">Как рассчитывается стоимость доставки?</p>
                    <p class="question__acordeon-text">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</p>
                </div>
                <div class="question__acordeon-item">
                    <p class="question__acordeon-title">Как происходит оплата за доставку груза?</p>
                    <p class="question__acordeon-text">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</p>
                </div>
                <div class="question__acordeon-item">
                    <p class="question__acordeon-title">Как происходит оплата за доставку груза?</p>
                    <p class="question__acordeon-text">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</p>
                </div>
                <div class="question__acordeon-item">
                    <p class="question__acordeon-title">Можно ли через вас оплатить товар поставщику?</p>
                    <p class="question__acordeon-text">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</p>
                </div>
                <div class="question__acordeon-item">
                    <p class="question__acordeon-title">В чём особенность КАРГО доставки из Китая</p>
                    <p class="question__acordeon-text">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</p>
                </div>
                <div class="question__acordeon-item">
                    <p class="question__acordeon-title">Какой срок доставки из Китая?</p>
                    <p class="question__acordeon-text">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</p>
                </div>
            </div>
            <form class="question__form" action="">
                <h3 class="question__form-title">Остались вопросы?</h3>
                <p class="question__form-text">Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
                <input class="question__input" type="text" placeholder="Имя *">
                <input class="question__input" type="number" placeholder="Телефон *">
                <input class="question__input" type="email" placeholder="E-mail">
                <input class="question__input" type="text" placeholder="Ваш вопрос">
                <button class="btn question__btn"><samp>Отправить запрос</samp> <img src="assets/img/arrow.svg" alt=""></button>
            </form>
        </div>
    </div>
</section>