<section class="services">
    <div class="services__background">
        <div class="services__inner">
            <h2 class="services__title">Услуги</h2>
            <div class="swiper services-swiper">
                <div class="swiper-wrapper services-swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="services__slide" style="background-image: url(assets/img/services_1.png);">
                            <p class="services__name">Выкуп товара</p>
                            <p class="services__text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            <button class="btn-pas services__btn">Подробнее</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services__slide" style="background-image: url(assets/img/services_2.png);">
                            <p class="services__name">Страховка груза</p>
                            <p class="services__text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            <button class="btn-pas services__btn">Подробнее</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services__slide" style="background-image: url(assets/img/services_3.png);">
                            <p class="services__name">Аренда склада</p>
                            <p class="services__text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            <button class="btn-pas services__btn">Подробнее</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services__slide" style="background-image: url(assets/img/services_4.png);">
                            <p class="services__name">Перевод денежных средств</p>
                            <p class="services__text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            <button class="btn-pas services__btn">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination services-pagination"></div>
            </div>
            <div class="services-swiper-button-next"></div>
            <div class="services-swiper-button-prev"></div> 
        </div>
    </div>
</section>